<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>Cats</title>
    </head>
    <body>
        <h1 class="title">Cats</h1>
        <%- include('./includes/nav.ejs') %>
        <div class="container">
            <% if (cats.length > 0) { %> <% cats.forEach((cat) => { %>
            <div class="cat-container">
                <h1 class="cat-title"><%= cat.name %></h1>
                <p class="age">Age: <%= cat.age %></p>
                <p class="species">Species: <%= cat.species %></p>
                <img src="<%= cat.img %>" alt="<%= cat.name %>" />
            </div>
            <% }) %> <% } else { %>
            <p>No cats available.</p>
            <% } %>
        </div>
    </body>
</html>
